 .u-section-1 {
  min-height: 669px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 568px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-group-1 {
  min-height: 430px;
  width: 567px;
  height: auto;
  margin: 32px 0 0 auto;
}

.u-section-1 .u-text-1 {
  text-align: left;
  font-weight: 700;
  font-size: 3rem;
  margin: 11px 11px 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  font-style: normal;
  margin: 30px 11px 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  transition-duration: 0.5s;
  text-transform: none;
  font-weight: 600;
  background-image: none;
  margin: 30px 349px 0 11px;
  padding: 18px 57px 19px;
}

.u-section-1 .u-image-1 {
  background-image: url("/images/Addaheading.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 8px 18px;
}

.u-section-1 .u-image-2 {
  background-image: url("https://images.macrumors.com/t/oVY3CeutZiDKCY3YZHL7LEoRf54=/1600x0/article-new/2021/09/General-YouTube-Feature-1.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  background-image: url("https://content-management-files.canva.com/25d6e86c-1249-4c25-8758-6463654a0465/thumblinkedin.png");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  background-image: url("https://www.cnet.com/a/img/resize/a952903a18d7040667592c49e686aab22c6c7bc9/hub/2020/03/27/2423f788-12ac-4d2c-82f3-64a73c6d55b1/twitter-logo-american-flag-9764.jpg?auto=webp&fit=crop&height=1200&width=1200");
  background-position: 45.26% 91.36%;
  background-size: auto 110%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-1 .u-group-1 {
    width: 455px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 248px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 577px;
  }

  .u-section-1 .u-group-1 {
    min-height: 455px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: -9px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 133px;
  }

  .u-section-1 .u-image-1 {
    min-height: 346px;
  }

  .u-section-1 .u-image-2 {
    min-height: 346px;
  }

  .u-section-1 .u-image-3 {
    min-height: 389px;
  }

  .u-section-1 .u-image-4 {
    min-height: 389px;
    background-size: 110%;
  }
} .u-section-2 {
  background-image: url("/images/fd45909b-5d6f-1ace-500c-639269a8558f.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 573px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 448px;
  background-image: none;
  height: auto;
  margin: 52px auto 60px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px 30px 40px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3rem;
  margin: 0 auto 0 13px;
}

.u-section-2 .u-text-2 {
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 1;
  background-image: none;
  margin: 7px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 600;
  font-size: 1.125rem;
  margin: 0 114px 0 13px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 100%;
    background-size: 110%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: 27px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    background-position: 20.61% 73.51%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 23px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
    margin-top: -8px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    background-position: 48.53% 100%;
    background-size: auto 110%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 4px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 4.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 15px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 833px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 38px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 326px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-shape-1 {
  width: 922px;
  height: 285px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 28px -541px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 334px;
  left: auto;
  right: 107px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 326px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.875rem;
  margin: 31px auto 0 -28px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 13px 100px 0 -28px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 428px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-group-1 {
  width: 922px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 290px;
  margin: 70px -391px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 2.8125rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 247px 0 70px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: 13px 325px 0 70px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 428px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-3 .u-image-2 {
  width: 472px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 353px;
  }

  .u-section-3 .u-group-1 {
    width: 470px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.625rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 353px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 206px;
  }

  .u-section-3 .u-shape-1 {
    width: 360px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-group-1 {
    width: 360px;
    min-height: 312px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1542px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-3 .u-shape-1 {
    height: 321px;
    margin-top: 306px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 281px;
    height: 363px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -583px auto -93px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 313px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 51px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 472px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-1 {
    width: 562px;
    min-height: 342px;
    margin-top: 301px;
    margin-right: -22px;
    margin-bottom: -171px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 71px;
    margin-right: -31px;
    margin-left: 31px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 10px;
    margin-right: 51px;
    margin-left: 31px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 405px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 306px;
    height: 247px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -327px auto 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1420px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-shape-1 {
    height: 333px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    width: 125px;
    height: 194px;
    margin-top: -409px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -189px;
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 17px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 438px;
  }

  .u-section-3 .u-group-1 {
    min-height: 308px;
    margin-top: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 89px;
    margin-right: -53px;
    margin-left: 28px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 17px;
    margin-right: -18px;
    margin-left: 28px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 255px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 204px;
    width: 272px;
    margin-top: -463px;
    margin-right: 30px;
  }
} .u-section-4 {
  background-image: url("/images/466269_medium2000.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 612px;
}

.u-section-4 .u-image-1 {
  width: 484px;
  height: 484px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 64px 0 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: -476px 512px 0 0;
}

.u-section-4 .u-group-1 {
  width: 414px;
  min-height: 201px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: 210px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding-bottom: 15px;
}

.u-section-4 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 3px 43px 0 41px;
}

.u-section-4 .u-group-2 {
  width: 414px;
  min-height: 183px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  background-image: none;
  margin: -391px auto 60px 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 20px 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 4px 22px 0 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: 312px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 92px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1232px;
  }

  .u-section-4 .u-image-1 {
    width: 428px;
    height: 428px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 76px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: 361px;
    margin-left: auto;
  }

  .u-section-4 .u-group-2 {
    margin-top: -470px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1121px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-4 .u-group-1 {
    min-height: 224px;
    margin-top: 350px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: -13px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 6px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-4 .u-group-2 {
    margin-top: -517px;
    min-height: 210px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: -6px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: -6px;
    margin-left: 6px;
  }
} .u-section-5 {
  background-image: url("/images/bnbnn.jpg");
  background-position: 50% 50%;
  min-height: 574px;
}

.u-section-5 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 1px auto 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 580px;
  background-image: url("/images/fff.png");
  background-position: 100% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px 30px 0;
}

.u-section-5 .u-image-2 {
  width: 601px;
  height: 523px;
  margin: 0 auto 0 23px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 580px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-line-1 {
  width: 143px;
  transform-origin: left center 0px;
  margin: 73px auto 0 7px;
}

.u-section-5 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  margin: 21px 40px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 40px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  margin: -57px 151px 0 253px;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: none;
  background-image: none;
  margin: 59px auto 0 7px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 371px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2)  + 940px);
    margin-top: 0;
    margin-bottom: 1px;
  }

  .u-section-5 .u-image-1 {
    min-height: 478px;
  }

  .u-section-5 .u-image-2 {
    width: 518px;
    height: 450px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-5 .u-line-1 {
    height: 6px;
    margin-top: 143px;
  }

  .u-section-5 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -77px;
    margin-right: 109px;
    margin-left: 248px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 67px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 621px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    background-position: 26.97% 50%;
    order: 0;
    min-height: 628px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-5 .u-image-2 {
    width: 400px;
    height: 354px;
    margin-top: 9px;
    margin-right: 17px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    order: 1;
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 0 53px;
  }

  .u-section-5 .u-line-1 {
    margin-top: -336px;
  }

  .u-section-5 .u-text-1 {
    font-size: 4.0625rem;
    width: auto;
    margin-top: 19px;
    margin-right: 15px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -6px;
    margin-right: 15px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -57px;
    margin-right: 15px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 59px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 400px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    background-position: 100% 50%;
    min-height: 408px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    width: 333px;
    height: 344px;
    margin-top: 19px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 5px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-line-1 {
    margin-top: -304px;
    margin-left: 5px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 13px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.25rem;
    margin-top: -44px;
    margin-right: 295px;
    margin-left: 132px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 8px;
    margin-left: 5px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 258px;
  }

  .u-section-5 .u-image-1 {
    min-height: 290px;
  }

  .u-section-5 .u-image-2 {
    width: 185px;
    height: 206px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 2px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-line-1 {
    margin-top: -215px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-right: 2px;
    margin-left: 3px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 2px;
    margin-left: 3px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -30px;
    margin-right: 179px;
    margin-left: 87px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 16px;
    margin-left: 0;
  }
}

.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}
