 .u-section-1 {
  background-image: url("/images/ga09fa8edbb4bd1478ee1f964d03cb17804d59b45d4b3287db9099420b4385c3a20efa8ed99853505a6f78f6c6dd727737caafa173c67c932559d6d6af4375bf6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 892px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 136px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 476px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 83px;
  width: 83px;
  color: rgb(0, 0, 0) !important;
  margin: 8px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  margin: 17px 11px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 490px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-icon-2 {
  height: 83px;
  width: 83px;
  color: rgb(0, 0, 0) !important;
  margin: 8px auto 0;
}

.u-section-1 .u-text-5 {
  line-height: 2;
  margin: 17px 12px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 519px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-icon-3 {
  height: 83px;
  width: 83px;
  color: rgb(0, 0, 0) !important;
  margin: 7px auto 0;
}

.u-section-1 .u-text-7 {
  line-height: 2;
  margin: 17px 3px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 586px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 12px auto 0;
}

.u-section-1 .u-icon-4 {
  height: 83px;
  width: 83px;
  color: rgb(0, 0, 0) !important;
  margin: 20px auto 0;
}

.u-section-1 .u-text-9 {
  line-height: 2;
  margin: 18px -1px 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 935px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 82px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: -2px;
    margin-left: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 25px 14px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -2px;
    margin-right: -2px;
    margin-left: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 9px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 31px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 578px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 3px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 572px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 25px;
    margin-left: 1px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 572px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-7 {
    width: 163px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 26px;
    margin-left: 17px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 572px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -7px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 537px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 13px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2139px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 18px;
    margin-bottom: 47px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 10px;
    margin-left: 87px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 505px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: 188px;
    margin-top: 13px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 3px;
    margin-left: 98px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 457px;
  }

  .u-section-1 .u-text-9 {
    width: 180px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -13px;
  }
}

.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}
