 .u-section-1 {
  background-image: none;
  
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 594px;
  background-image: none;
  
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 401px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 594px;
  background-image: none;
  
}

.u-section-1 .u-container-layout-2 {
  padding: 60px 2px 33px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 0 55px 0 6px;
}

.u-section-1 .u-text-2 {
  font-size: 4.375rem;
  text-transform: none;
  font-weight: 700;
  margin: 10px 53px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  margin: 9px 67px 0 5px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  
  margin: 9px auto 0 5px;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 536px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 535px;
  }

  .u-section-1 .u-image-1 {
    height: 312px;
    width: 589px;
    margin-top: 65px;
    margin-right: auto;
    margin-left: -49px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 535px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 26px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 14px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 368px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 70.59% 50%;
    min-height: 525px;
  }

  .u-section-1 .u-image-1 {
    height: 216px;
    width: 408px;
    margin-top: 114px;
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 580px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 65px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 695px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 20px 30px 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 515px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 48px 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 573px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 180px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 30px 16px 50px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
} .u-section-2 {
  background-image: url("//images01.nicepagecdn.com/e33eaa5a286419bf2abfa64d/80a47b7062f55198a9a22a6e/g209924eb54cefa2b8b7f9ee548a5cc1b53dc48c8857534850bd2e2e005a1c3d67c77e9fe0ca0d128acd17b50169ea3fbf57b8b5addc7283e0378f7dc3b71702a_1280.jpg");
  
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 591px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 30px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 561px;
}

.u-section-2 .u-container-layout-1 {
  padding: 60px 0 0;
}

.u-section-2 .u-text-1 {
  letter-spacing: 2px;
  font-size: 4.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 0px rgba(255,255,255,1);
  margin: 0 0 0 30px;
}

.u-section-2 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 17px 30px 0;
}

.u-section-2 .u-text-3 {
  background-image: none;
  font-size: 1.125rem;
  line-height: 1.8;
  
  margin: 17px 70px 0 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 561px;
}

.u-section-2 .u-container-layout-2 {
  padding: 23px 0;
}

.u-section-2 .u-image-1 {
  height: 455px;
  width: 597px;
  margin: 60px auto -7px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 31px;
    padding-bottom: 31px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.375rem;
    width: auto;
    margin-right: -51px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 7px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 8px;
    margin-right: 7px;
    margin-left: 23px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 381px;
    width: 501px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 356px;
  }

  .u-section-2 .u-image-1 {
    height: 292px;
    width: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 9px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-top: 7px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 132px;
    margin-bottom: 0;
    margin-left: 57px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-2 .u-image-1 {
    height: 259px;
    width: 340px;
    margin-top: 48px;
    margin-left: -18px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 668px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 423px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 60px 0 0 60px;
}

.u-section-3 .u-text-2 {
  letter-spacing: 0px;
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 13px 0 0 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 423px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 443px;
  width: 425px;
  margin: -20px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: -16px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(7, calc(14.2857% - 18px));
  min-height: 173px;
  grid-gap: 21px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 18px 0;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 22px 0 0 6px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 18px 0;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 22px 0 0 6px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 18px 0;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 22px 0 0 6px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 18px 0;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 22px 0 0 6px;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 18px 0;
}

.u-section-3 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 22px 0 0 6px;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
  
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 18px 0;
}

.u-section-3 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 22px 0 0 6px;
}

.u-section-3 .u-list-item-7 {
  background-image: none;
  
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 18px 0;
}

.u-section-3 .u-icon-7 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 22px 0 0 6px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    
  }

  .u-section-3 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 498px;
  }

  .u-section-3 .u-image-1 {
    width: 441px;
    margin-top: -8px;
    margin-right: -46px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 139px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 381px;
  }

  .u-section-3 .u-image-1 {
    height: 375px;
    width: 324px;
    margin-right: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15.75px));
    min-height: 414px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    margin-top: 28px;
    margin-right: 25px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 1305px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1539px;
  }

  .u-section-3 .u-image-1 {
    height: 354px;
    width: 340px;
    margin-right: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 28px;
    margin-bottom: 54px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 788px;
  }
} .u-section-4 {
  background-image: none;
  
}

.u-section-4 .u-sheet-1 {
  min-height: 502px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 34px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 468px;
}

.u-section-4 .u-container-layout-1 {
  padding: 40px 0;
}

.u-section-4 .u-text-1 {
  letter-spacing: normal;
  font-family: Barlow;
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  margin: 48px -96px 0 25px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 34px 25px 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 25px auto 0 25px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 468px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 0 40px;
}

.u-section-4 .u-image-1 {
  width: 674px;
  height: 420px;
  margin: 17px -10px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 386px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    width: 477px;
    height: 297px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 626px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 14px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 310px;
    margin-top: -49px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 164px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-image-1 {
    height: 193px;
    width: 330px;
    margin: 49px 0 -78px;
  }
}

.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

/* Credit to https://epicbootstrap.com/snippets/footer-with-columns */