.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 70px;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.blc {
  font-size: 70px;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 900;
}

body {
  width: 100%;
}

.welcome-page {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

@media (min-width: 1920px) {
  .footer-cont {
    max-width: 2160px;
  }
}

.sc-heading {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-top: 85px;
}

.scp-hdd {
  display: inline;
}

div {
}

.clm-div-hover:hover {
  border: 2px solid white;
}

@media (min-width: 992px) {
  #icon-svg {
    font-size: 55px;
    margin-left: 22px;
    margin-right: auto;
  }
}

.colum-icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  #icon-svg {
    font-size: 42px;
  }
}

.span-mark {
  text-decoration: underline;
  text-decoration-color: var(--bs-yellow);
  text-underline-position: inherit;
  text-decoration-thickness: 4px;
}

body {
  scroll-behavior: smooth;
}

a {
  scroll-behavior: initial;
}

@media (max-width: 576px) {
  .image-hero {
    width: 120px;
  }
}

.image-hero {
  height: 600px;
  background: url("../../assets/img/startup.svg") center / cover no-repeat;
  margin-top: 84px;
  width: 100%;
}

.img-auto {
  width: 100%;
}

@media (max-width: 576px) {
  .clm-image {
    margin-bottom: 25px;
  }
}

@media (max-width: 576px) {
  .para-mid-terms {
    text-align: center;
  }
}

.link-footer {
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

a {
}

.about-link {
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

.social-media {
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

